

<footer class="page-footer stick-bottom font-small teal pt-4">

    <div class="container text-center text-md-left">
        <div class="row not-mb">
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-2">
                <h5 class="text-uppercase">ABOUT</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/devs">Contact Us</a>
                    </li>
                    <li>
                        <a href="/devs">About Us</a>
                    </li>
                    <li>
                        <a href="/devs">careers</a>
                    </li>
                    <li>
                        <a href="/devs">Press</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2">
                <h5 class="text-uppercase">HELP</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/devs">Payments</a>
                    </li>
                    <li>
                        <a href="/devs">Shipping</a>
                    </li>
                    <li>
                        <a href="/devs">Cancellations ad Return</a>
                    </li>
                    <li>
                        <a href="/devs">FAQ</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2">

                <h5 class="text-uppercase">POLICY</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/devs">Return Policy</a>
                    </li>
                    <li>
                        <a href="/devs">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/devs">Security</a>
                    </li>
                    <li>
                        <a href="/devs">Privacy</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4 mt-md-0 mt-3">

                <h5 class="text-uppercase">Developers</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/devs">Kamlendra Rathour</a>
                    </li>
                    <li>
                        <a href="/devs">Ubaid Ahmed</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            
            <div class="col-3">
                <a type="button" class="btn-floating btn-circle btn-fb btn-md" target="_blank" href="https://facebook.com/kamlendra.rathour.39">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="col-3">
                <a type="button" class="btn-floating btn-circle btn-tw btn-md" target="_blank" href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="col-3">
                <a type="button" class="btn-floating btn-circle btn-lk btn-md" target="_blank" href="https://www.linkedin.com/in/kamlendra-rathour-96790018b">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-3">
                <a type="button" class="btn-floating btn-circle btn-git btn-md" target="_blank" href="https://github.com/kamal-20">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> EComm.com</a>
    </div>
</footer>

</body>
</html>