<%- include("../partials/header") %>
<div class="container mt-5 mb-5">
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Want to get in touch? Here's how you can reach us...</p>
    </div>
    <hr>
</div>
<div style="background-color: #f5f8fa;" class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 mb-2">
                <!-- Card -->
                <div class="card promoting-card">

                    <!-- Card content -->
                    <div class="card-body d-flex flex-row justify-content-right">

                        <!-- Avatar -->
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3"
                            height="50px" width="50px" alt="avatar">

                        <!-- Content -->
                        <div>

                            <!-- Title -->
                            <h4 class="card-title font-weight-bold mb-2">Kamlendra Kumar Rathour</h4>
                            <!-- Subtitle -->
                            <p class="card-text"><i class="far fa-clock pr-2"></i>27/02/2020</p>
                        </div>

                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="collapse-content">

                            <p class="mb-2"><strong>Email Address</strong></p>
                            <!-- Text -->
                            <p class="card-text">421kamlendra@gmail.com</p>
                            <hr class="my-4">
                            <p class="lead"><strong>Phone No.</strong></p>
                            <p>8738020038</p>
                            <hr class="my-4">
                            <p class="lead"><strong>Social Links</strong></p>
                            <div class="container">
                                <div class="row">
                                
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-fb btn-md" target="_blank"
                                            href="https://facebook.com/kamlendra.rathour.39">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-lk btn-md" target="_blank"
                                            href="https://www.linkedin.com/in/kamlendra-rathour-96790018b">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-git btn-md" target="_blank"
                                            href="https://github.com/kamal-20">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-in btn-md" target="_blank"
                                            href="https://instagram.com/agyaani_manushya">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col-md-6  mt-4 mb-2">
                <div class="d-none d-md-block">
                    <img src="https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                        class="img-fluid" style="width : 100%">
                </div>
            </div>
            <div class="col-md-6 mt-4 mb-2">
                <div class="d-none d-md-block">
                    <img src="https://images.unsplash.com/photo-1508930113057-711dca60638c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                        class="img-fluid" style="width : 100%">
                </div>
            </div>
            <div class="col-md-6 mt-4 mb-2">
                <!-- Card -->
                <div class="card promoting-card">
            
                    <!-- Card content -->
                    <div class="card-body d-flex flex-row justify-content-right">
            
                        <!-- Avatar -->
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px"
                            width="50px" alt="avatar">
            
                        <!-- Content -->
                        <div>
            
                            <!-- Title -->
                            <h4 class="card-title font-weight-bold mb-2">Ubaid Ahmed</h4>
                            <!-- Subtitle -->
                            <p class="card-text"><i class="far fa-clock pr-2"></i>27/02/2020</p>
                        </div>
            
                    </div>
            
                    <!-- Card content -->
                    <div class="card-body">
            
                        <div class="collapse-content">
            
                            <p class="mb-2"><strong>Email Address</strong></p>
                            <!-- Text -->
                            <p class="card-text">ubaidbhati2015@gmail.com</p>
                            <hr class="my-4">
                            <p class="lead"><strong>Phone No.</strong></p>
                            <p>8619078364</p>
                            <hr class="my-4">
                            <p class="lead"><strong>Social Links</strong></p>
                            <div class="container">
                                <div class="row">
            
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-fb btn-md" target="_blank"
                                            href="https://facebook.com/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-lk btn-md" target="_blank"
                                            href="https://www.linkedin.com/in/ubaid-bhati-683914169">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-git btn-md" target="_blank"
                                            href="https://github.com/UAbhati">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a type="button" class="white-text btn-floating btn-circle btn-in btn-md" target="_blank"
                                            href="https://www.instagram.com/uabhati/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
            
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>